
@{
    Page.Title = "Home"; 
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container text-center">
    <h1>Dashboard</h1>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Aspect</th>
                <th>Ability One</th>
                <th>Non Ability One</th>
                <th>Current Pay Period</th>
                <th>Current Month</th>
                <th>Current Quarter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Hours</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Total Wages</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Average Hourly Wage</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Total Employees</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>New Employees</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Total Sales</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Product Sales</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
            </tr>
            <tr>
                <td>Service Sales</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
            </tr>
        </tbody>
    </table>
</div>
